
// Body
$body-bg:                     #fff;

// Typography
$font-family-sans-serif:      "effra", sans-serif;
$font-size-base:              1.1rem;
$line-height-base:            1.45;

$headings-font-weight:        600;
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;


$grid-gutter-width:           60px;


// Colors
$blue:                        #2CA9E4;
$blue-dark:                   #212759;
$indigo:                      #6574cd;
$purple:                      #9561e2;
$pink:                        #f66D9b;
$red:                         #e3342f;
$orange:                      #E98700;
$yellow:                      #FFC300;
$green:                       #38AF5B;
$teal:                        #4dc0b5;
$cyan:                        #6cb2eb;

$gray-200:                    #DEDFE9;
$gray-600:                    #9799AA;

$body-color:                  $blue-dark;


$border-color:                $gray-200;