
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


section.subheader {
  background-image: url("/img/homepage/header_class.png");
  background-size: cover;
  background-color: #D8E0F1;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20rem;
}

section.videos {

  .video {
    margin: 1rem 0;

    .thumbnail {
      width: 100%;
      height: 15rem;
      background-size: cover;
      background-position: center;
      margin-bottom: 1rem;
      margin-top: 2rem;
      border-radius: .5rem;

      @include media-breakpoint-only(sm) {
        height: 4.2rem;
      }

      @include media-breakpoint-only(md) {
        height: 30%;
      }

      @include media-breakpoint-only(lg) {
        height: 6.3rem;
      }

      @include media-breakpoint-only(xl) {
        height: 7.5rem;
      }
    }
  }
}

body.page_oproep {

  .header {
    background: $blue-dark url("/img/rocketkid_blue.jpg") no-repeat center right;
    background-size: contain;
    color: $white;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    padding-top: 1rem;

    h1, .lead {
      text-shadow: $blue-dark 1px 1px 2px;
    }

    h2 {
      color: $yellow;
      font-size: 1.5rem;
    }

    .meta {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: .25rem;

      i {
        color: $green;
        margin-right: .5rem;
      }
    }

    @include media-breakpoint-down(md) {
      .meta { display: block; }
    }

    @include media-breakpoint-down(sm) {
      background-image: none;
    }

  }

  .avatars {
    margin-right: 1.5rem;
  }

  @include media-breakpoint-down(sm) {

    .media {
      display: block;
    }

    .media-body {
      margin-top: 1.5rem;
    }

  }

  .avatarholder {
    position: relative;
    margin-left: -.75rem;
    display: inline-flex;

    &:first-child {
      margin-left: 0;
    }

    img.avatar { 
      border-radius: 50%; 
      width: 7rem; 
      height: 7rem; 
    }

    a {
      position: absolute;
      display: flex;
      bottom: .15rem;
      right: .5rem;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background: $blue;
      padding: .25rem;
      align-self: center;
      align-items: center;
      text-align: center;

      &:hover {
        background-color: $green;
      }

      i {
        color: $white;
        margin: auto;
      }
    }

  }

  .teachers {
    margin-top: -3rem;
    margin-bottom: 2.5rem;

    .media-body {
      margin-top: 2.5rem;
    }
  }

  .description {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    color: $gray-600;
  }

  .embed-responsive {
    border-radius: .5rem;
  }

  .card ul {
    padding-left: 1rem;
    margin-bottom: 0;
    li { 
      margin-bottom: .5rem; 
      &:last-child { 
        margin-bottom: 0;
      }
    }
  }

  .fixed-bottom {
    padding: .5rem 0;
    background: $blue-dark; 
    color: white;
    border-top: 1px solid darken($blue-dark, 8%);

    h3 {
      color: $white;
    }

    h3, p {
      display: inline-block;
    }

    @include media-breakpoint-down(sm) {
      .cta { display: none; }

      .btn { display: block; margin: 0 auto; width: 100%; }

      .btnholder { margin: 0 auto; width: 100%; }
    }

    @include media-breakpoint-only(md) {
      p { display: none; }
    }
  }

  footer.footer {
    padding-bottom: 5.5rem;
  }
} 

// Typography

.subtitle {
  @extend .lead;
  color: $gray-600;
}

p.lead {
  font-size: 1.5rem;
}

@include media-breakpoint-only(xs) {
  h2 { font-size: 2.5rem; }
}

.btn {
  padding: .5rem 1.25rem;
}


// Homepage

section.header {
  background: $blue-dark url('/img/headerback.svg') no-repeat top center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 8rem 0;

  h1 { font-weight: normal; }

  .logo { margin-bottom: 2rem; }

  @include media-breakpoint-only(xs) {

    background-size: contain;
    background-position: top center;
    padding: 8rem 0 3rem 0;

    h1 { font-size: 1.5rem; }
  }
}

section.intro {
  margin-top: 6rem;

  .img-rocketkid {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  blockquote { 
    color: $red; 
    font-weight: 600; 
    font-size: 3rem; 
    font-style: italic;
    line-height: 3rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 3rem;
    margin-bottom: 1rem;
    .img-rocketkid { 
      margin-left: -2rem; 
      margin-top: 3rem; 
      margin-bottom: 3rem; 
    }
  }

}

section.product {
  margin: 6rem auto;
  padding-bottom: 3rem;
  background: white;

  img {
    margin: 3rem auto; 
    display: block;
  }
}

section.pilot {
  margin-bottom: 4rem;
}

section.news {
  margin: 4rem auto;

  h2 { margin-top: 4rem; }
  a { @extend .lead; }
}

section.team {

  padding-bottom: 4rem;
  img { margin-bottom: 4rem; }

  .team-member {
    text-align: center;
    margin-bottom: 3rem;

    h4 { font-size: 1rem; }
    img {
      border-radius: 50%;
      max-width: 8rem;
      margin: 0 auto 1rem;
    }
    &-function {
      font-size: .85rem;
      color: $gray-600;
    }
  }
}


section.newsletter {
  .img-logocircle {
    max-width: 12rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
}

footer.footer {
  background-color: $blue-dark;
  padding: 3.5rem 0;
  text-align: center;

  p { 
    font-weight: 300;
    color: white; 
  }

  img { 
    max-width: 10rem;
    margin-bottom: 1rem;
  }

}

.embed-responsive {
  border-radius: .5rem;
}
